
h1{
  font-family: sans-serif;
    font-size: 36px;
    margin-left: 50px;
    padding:5px;
}


h2{
  font-family: sans-serif;
    font-size: 30px;
    margin-left: 50px;
}

h3{
  font-family: sans-serif;
    font-size: 20px;
    margin-left: 50px;
}

p{
  font-family: sans-serif; 
    font-size: 14px;
    margin-left: 50px;
    margin-right: 125px;
}

a {color: slategrey;
text-decoration: none;
font-size: 15px;}


img{ margin-left:50px;
 }